

*{
    box-sizing: border-box;
    border: 0;
    padding: 0;
}

.responsive-wraper{
    width: 90%;
    margin: 0 auto;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tresEnRaya{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.titulo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.titulo h3{
    width: 100%;
    text-align: center;
    font-size: 2rem;
}


.contenedor{
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    background-color: black;
}

.posicion{
    width: 8rem;
    height: 8rem;
    margin: 4%;
    justify-self: center;
    flex: 1 1 20%;
    border-radius: 50%;
    background-color: lightgray;
}

.posicion:hover{
    background-color: grey;
}

.posicion:active{
    background-color: red;
}

#chat{
    width: 500px;
    height: 600px;
    border: 1px;
    border-style: inset;
    border-color: black;
    padding: 2rem;;
}

